<header class="main-header container">
	<br>
  <a href="<%= books_path %>" class="sidebar-toggle">
    <span class="sr-only">Books</span>
  </a>
 	<br>
  <a href="<%= loan_transactions_path %>" class="sidebar-toggle">
    <span class="sr-only">Transaction</span>
  </a>
</header>
