<%= form_with(model: @loan_transaction, url: url, class: "form form-vertical", remote: true) do |form| %>
  <div class="form-body">
    <% if @loan_transaction.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@loan_transaction.errors.count, "error") %> prohibited this loan_transaction from being saved:</h2>
        <ul>
          <% @loan_transaction.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <%= form.label :due_date %>
          <%= form.date_field :due_date, class: "form-control", required: true %>
        </div>

        <div class="form-group">
          <%= form.label :user %>
          <%= form.collection_select :user_id, @user, :id, :name, {}, class: "form-control", required: true %>
        </div>

        <div class="form-group">
          <%= form.label :book %>
          <a href="#" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#book">Select Book</a>
          <div id="list_book">
            
          </div>
        </div>
      </div>
      <div class="col-12 d-flex justify-content-end">
       <%= form.submit "Save", class: "btn btn-primary mt-3 mb-1" %>
       <%= link_to 'Back', books_path, class: "btn btn-secondary mt-3 mb-1" %>
      </div>
    </div>
  </div>
<% end %>

<div class="modal fade" id="book" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">LIST BOOK</h4>
      </div>
      <div class="modal-body">
        <div class="box-body table-responsive">
          <table class="table table-hover">
            <thead style="background-color: darkgray">
              <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Description</th>
                <th>Category</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody id="listproductsinpromo">
              <% @book.each do |book| %>
                <tr>
                  <td><%= book.id %></td>
                  <td><%= book.title %></td>
                  <td><%= book.description %></td>
                  <td><%= book.category %></td>
                  <td>
                    <a href="#" class="btn btn-sm btn-success" onclick="addBook(<%= book.id %>, '<%= book.title %>')">Add</a>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light-secondary"
            data-bs-dismiss="modal">
            <span class="d-none d-sm-block">Tutup</span>
        </button>
      </div>
    </div>
  </div>
</div>

<script>
  function addBook(id, title) {
    document.getElementById("list_book").innerHTML += "<input type='hidden' class='form-control' name='loan_transaction[loan_transaction_details_attributes][][book_id]' value='" + id + "'><input type='text' class='form-control' name='' value='" + title + "' disabled>"
  }
</script>