<section class="content-header">
  <h1>
    Transaction
    <small>Form</small>
  </h1>
</section>

<section class="content">
  <div class="row">

    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Edit Transaction</h3>
        </div>
        <div class="card-content">
          <div class="card-body">
            <%= render "loan_transactions/shared/form", url: loan_transaction_path, loan_transaction: @loan_transaction %>
          </div>
        </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</section>
