<section class="content">
	<div class="row">
		<div class="card">
			<div class="card-content">
				<div class="row">
					<div class="col-md-3">
						<a href="<%= new_loan_transaction_path %>" class="btn btn-sm btn-success mt-2">New</a>
					</div>
					<div class="col-md-9">
						<%= form_tag(loan_transactions_path, method: 'get') do %>
	            <div class="input-group mt-2">
               	<%= text_field_tag :search, params[:search], :class => "form-control", placeholder: "Search", autocomplete: "off" %>
	            </div>
          	<% end %>
					</div>
				</div>
			</div>
			<div class="card-body table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Id</th>
							<th>Due Date</th>
							<th>Return</th>
							<th>User</th>
							<th>Created At</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<% @loan_transactions.each do |loan_transaction| %>
							<tr>
								<td><%= loan_transaction.id %></td>
								<td><%= loan_transaction.due_date.strftime("%d-%m-%Y") %></td>
								<td><%= loan_transaction.is_return %></td>
								<td><%= loan_transaction.try(:user).try(:name) %></td>
								<td><%= loan_transaction.created_at %></td>
								<td>
									<a href="<%= loan_transaction_path(loan_transaction) %>" class="btn btn-sm btn-success">Show</a>
								</td>
							</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</section>