<section class="content">
	<div class="row">
		<div class="card">
			<div class="card-body table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Id</th>
							<th>Book</th>
						</tr>
					</thead>
					<tbody>
						<% @loan_transaction.loan_transaction_details.each do |detail| %>
							<tr>
								<td><%= detail.id %></td>
								<td><%= detail.book.title %></td>
							</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</section>