<section class="content-header">
  <h1>
    Book
    <small>Form</small>
  </h1>
</section>

<section class="content">
  <div class="row">

    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Edit Book</h3>
        </div>
        <div class="card-content">
          <div class="card-body">
            <%= render "books/shared/form", url: book_path, book: @book %>
          </div>
        </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</section>
