<section class="content">
	<div class="row">
		<div class="card">
			<div class="card-content">
				<div class="row">
					<div class="col-md-3">
						<a href="<%= new_book_path %>" class="btn btn-sm btn-success mt-2">New</a>
					</div>
					<div class="col-md-9">
						<%= form_tag(books_path, method: 'get') do %>
	            <div class="input-group mt-2">
               	<%= text_field_tag :search, params[:search], :class => "form-control", placeholder: "Search", autocomplete: "off" %>
	            </div>
          	<% end %>
					</div>
				</div>
			</div>
			<div class="card-body table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Id</th>
							<th>Title</th>
							<th>Description</th>
							<th>Category</th>
							<th>Created At</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<% @books.each do |book| %>
							<tr>
								<td><%= book.id %></td>
								<td><%= book.title %></td>
								<td><%= book.description %></td>
								<td><%= book.category %></td>
								<td><%= book.created_at %></td>
								<td>
									<a href="<%= edit_book_path(book) %>" class="btn btn-sm btn-success">Edit</a>
								</td>
							</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</section>