<%= form_with(model: @book, url: url, class: "form form-vertical", remote: true) do |form| %>
  <div class="form-body">
    <% if @book.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>
        <ul>
          <% @book.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <%= form.label :title %>
          <%= form.text_field :title, class: "form-control", required: true %>
        </div>

        <div class="form-group">
          <%= form.label :description %>
          <%= form.text_area :description, class: "form-control", required: true %>
        </div>

        <div class="form-group">
          <%= form.label :category %>
          <%= form.collection_select :category, ['komik', 'novel', 'biografi'], :to_s, :to_s, {prompt: 'Pilih Category'}, class: "form-control", required: true%>
        </div>
      </div>
      <div class="col-12 d-flex justify-content-end">
       <%= form.submit "Save", class: "btn btn-primary mt-3 mb-1" %>
       <%= link_to 'Back', books_path, class: "btn btn-secondary mt-3 mb-1" %>
      </div>
    </div>
  </div>
<% end %>