<!DOCTYPE html>
<html>
  <head>
    <title>LibraryApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="wrapper" id="wrapper_page">
      <input type="hidden" id="admin_token">
      <%= render "layouts/shared/header"%>

      <div class="content-wrapper container">
        <%= yield %>
      </div>
    </div>
    <%#= yield %>
  </body>
</html>
